.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap');

body {
  font-family: "Poppins", sans-serif;;
}

.employee-text {
  font-weight: bold;
  margin-top: 30px;
}

.table {
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.form-options {
  margin: auto;
  height: 35px;
  width: 150px;
  border-radius: 10px;
  border: rgb(172, 172, 172) 1px solid;
}

.employ-input {
  border-radius: 10px;
  height: 35px;
  width: 250px;
  border: rgb(172, 172, 172) 1px solid;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 16px;
}
